DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/basse
BETTER_AUTH_SECRET=change-me-at-least-32-characters-long
BETTER_AUTH_URL=http://localhost:3000
API_PORT=3000
API_HOST=127.0.0.1

DOMAIN=basse.sh
CONTROL_PLANE_IMAGE=ghcr.io/lassejlv/basse-control-plane:latest
